.section {
  padding: 0 20px;
}
.container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin: 0;
  margin-bottom: 16px;
  color: #121417;
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
}
.section-description {  
  margin-bottom: 40px;
  color: rgba(18, 20, 23, 0.5);
  text-align: center;  
  font-size: 14px;  
  line-height: 1.71;
}
.section-list {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none; */
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.teachers-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  gap: 8px;
}
.card-title {
  margin: 0;
  color: #121417;
  font-family: Manrope;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.card-description {
  margin: 0;
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.71;
}
.swiper-pagination {
  position:static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  
}
.swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #4DC274;
}
.swiper-pagination-bullet::before {
  position: absolute;
  top: -4px;
  left: -4px;
  content: '';
  width: 24px;
  height: 24px;
  border: 2px solid #4DC274;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 0 32px;
  }
  .container {
    max-width: 704px;
  }
  .section-title {
    font-size: 40px;
    line-height: 1.2;
  }
  .section-description {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.67;
  }
  /* .section-list {
    padding: 0 64px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 32px;
  } */
  .teachers-card {
    flex-basis: calc((100% - 32px) / 2);
  }
  .card-description {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 0 64px;
  }
  .container {
    max-width: 1024px;
  }
  .section-description {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
  }
  /* .section-list {
    padding: 0;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 32px;
  } */
  .teachers-card {
    flex-basis: calc((100% - 96px) / 4);
  }
}
